*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(186, 183, 183);
}

.calculadora{
    width: 300px;
    background-color: rgb(215, 34, 170);
    border-radius: 10px;
    box-shadow: 0px 4px 4px #000;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.resultado{
    height: 75px;
    padding: 20px;
    text-align: right;
    color: white;
    font-size: 2.5rem;
}

.botoes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

.botoes button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}

.bt_zero {
    grid-column: span 2;
    background-color: rgb(240, 191, 227);
}

.bt_topo{
    background-color: rgb(240, 191, 227);
}

.bt_calc{
    background-color:rgb(247, 237, 244) ;
}

button:active{
    opacity: 0.9;
}

.bt_opera{
    background-color: rgb(240, 191, 227);
}